body {
    text-align: center;
    background-color: aqua;
    color: rgb(62, 62, 62);
}


.peli-otsikko {
    background-color: aquamarine;
    border-radius:8rem;
    padding: 1rem;
    margin: 0 20rem;

}


.dice-panel,
.player-card{
    background-color: aquamarine;
    border-radius: 8rem;
    padding: 1rem;
    
}
.player-image{
    width: 4rem;
}